@import "tailwindcss";

.App-header {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.hero-image{
    position: absolute;
    background-image: url('./components/assets/DSC01995web.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
}
.webd{
    object-position: center;
    object-fit: cover;
    margin:15% 0;
    width: 40%;
}
.skill{
    border: solid white 1px;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 20px;
    margin: 5px;
}

.expandable {
    overflow: hidden;
    white-space: nowrap;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 30px;
    transition: width 0.3s ease;
  }
  .boxshadow{
    box-shadow: #a9a9a9 5px 5px 100px ;
  }
  
  .expandable span {
    margin: 0;
    padding: 0;
  }
  
  .expandable ul {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
  }
  
  .compressed ul {
    display: none;
  }
  
  .expanded ul {
    display: block;
  }

  .project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    color: white;
    border-radius: 30px;
    background-color: black;
    overflow: hidden;
    box-shadow: 5px 3px 2px rgb(255, 251, 44);
  }

  .footer{
    background-image: linear-gradient(#99FFE7, #268BFF);
    border-radius: 20px 20px 0 0;
    margin-top: 40px;
  }
  .footerimg{
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
 .footicon{
  object-fit: cover;
  object-position: center;
  height: 40px;
 }
.nav{
  top:0;
}
#projects{
  overflow: hidden;
}

 @media (max-width: 400px) {
  .nav{
    position: fixed;
    top: 86vh !important;
    color: black !important;
    background-color: white !important;
    border-radius: 25px;
    font-size: 2vmin;
    text-align: center;
  }

  #projects ul{
    flex-direction: row;
  }

  .title {
    display: flex;
    flex-direction: column;
  }

  .heading{
    font-size: 10vmin !important;
    text-align:center;
  }

  .webd, .footerimg {
    display: none;
  }
  .bio_container{
    width: 100% !important;
  }

  .skillexpand {
    display: flex;
    flex-direction: column;
    gap:10px !important;
  }

  .expandable{
    width: 90% !important;
    margin: auto;
  }
  #projects{
    width: 100% !important;
    gap: 20px;
  }
  .project-container {
    width: 90vw !important;
    border-radius: 20px;
  }
}