@import "tailwindcss";

.App-header {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.hero-image{
    position: absolute;
    top: -18px;
    background-image: url('./components/assets/DSC01995web.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
}
.webd{
    object-position: center;
    object-fit: cover;
    margin:15% 0;
    width: 40%;
}
.skill{
    border: solid white 1px;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 20px;
    margin: 5px;
}

.expandable {
    overflow: hidden;
    white-space: nowrap;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 30px;
    transition: width 0.3s ease;
  }
  .boxshadow{
    box-shadow: #a9a9a9 5px 5px 100px ;
  }
  
  .expandable span {
    margin: 0;
    padding: 0;
  }
  
  .expandable ul {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
  }
  
  .compressed ul {
    display: none;
  }
  
  .expanded ul {
    display: block;
  }